bod{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f0f2f5;
    color: #333;
}

header{
    background-color: #004aad;
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
}

nav{
    background: #003f8a;
    text-align: center;
    padding: 1rem;

}

nav ul li{
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
}

section{
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

#about img {
    display: block;
    margin: 1rem auto;
    border: 3px solid #004aad;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

form{
    display: flex;
    flex-direction: column;
}
input, textarea{
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

button{
    background-color: #004aad;
    color: white;
}


html {
    scroll-behavior: smooth;
}
nav ul{
    list-style: none;
    text-align: center;
}

nav ul li{
    display: inline-block;
    margin: 10px;
}

nav a{
    text-decoration: none;
    color: #f2f2f2;
    font-weight: bold;
    transition: 0.3s ease;
}

nav a:hover{
    color: #ff6600;
    text-decoration: underline;
}

#carousel{
    text-align: center;
    padding: 50px 0;
}

.carousel-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 90%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel-container img{
    width: 300px;
    height: 200px;
    margin: 0 5px;
    border-radius: 10px;
    object-fit: cover;
}

.carousel-wrapper button{
    background-color: #004aad;
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;

}

.carousel-container button:hover{
    background-color: #ff6600;
}